.App { 
  display: flex;
  text-align: center;
  position: relative;
  width: 375px;
  height: 813px;
  overflow-y: scroll;
  background-color: #F6F2FF;
  /* color: black; */
}

.heading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 321px;
  height: 160px;
  left: calc(50% - 321px/2);
  top: 80px;
}

.heading {
  width: 283px;
  height: 108px;


/* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}


.heading h1 {
  position: absolute;
  width: 283px;
  height: 108px;
  left: 19px;
  top: -10px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 65px;
  /* or 100% */

  text-align: center;

  color: #240D57;
}

.heading span {
  position: absolute;
  width: 163px;
  height: 41px;
  left: 79px;
  top: 55px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-align: center;

  background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
}

.heading-text p {
  width: 321px;
  height: 36px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  text-align: center;

  color: #4F4F4F;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

 img {
  position: absolute;
  width: auto;
  height: 292px;
  left: calc(50% - 165.63px/2 + 0.32px);
  top: 290px;


  filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
  border-radius: 13.2326px;
}

/* .create-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  position: absolute;
  width: 187px;
  height: 50px;
  left: calc(50% - 187px/2);
  top: 616px;

  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  border-radius: 10px;
} */

 a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;

  position: absolute;
  width: 187px;
  height: 50px;
  left: calc(50% - 187px/2);
  top: 616px;

  background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
  border-radius: 10px;


  width: 145px;
  height: 18px;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  text-decoration: none;

  color: #FFFFFF;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}








/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
